<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="layout :: head">

</head>
<body>
	<div th:replace="layout :: header"></div>
	<div class="col-12">
		<br />
		<div class="col-3 vertikal-line-right">
			<h2 class="center">Deskripsi IT Del</h2>
			<p>
				DEL dimaknai sebagai `Pemimpin yang Selangkah Lebih Maju`. Yayasan Del mulai aktif di kegiatan sosial kemasyarakatan jauh sebelum didirikannya PT Toba Sejahtera, perusahaan yang kemudian menjadi Yayasan Del sebagai tonggak tanggung jawab sosial perusahaan.  Tujuan awal Yayasan Del didirikan adalah untuk memberikan akses pendidikan berkualitas di daerah terpencil bagi siswa/i berprestasi dengan latar belakang ekonomi yang kurang menguntungkan, yaitu dengan mendirikan Politeknik Informatika Del dan SMA Unggul Del di Laguboti, Sumatera Utara serta Sekolah NOAH di Kalisari, Jakarta Timur. Institut Teknologi Del didirikan pada tahun 2001 dan bertujuan untuk menyediakan pendidikan tinggi berkualitas internasional, bagi siswa/i berpotensi, terutama dengan latar belakang ekonomi yang kurang menguntungkan, khususnya yang berasal dari Sumatera Utara.
				Disamping turut berperan sebagai inisiator penggerak pembangunan di Tapanuli, IT Del juga diharapkan dapat menginkubasi lahirnya para technopreneur baru di bidang teknologi informasi.
			</p>
		</div>
		<div class="col-4 vertikal-line-right">
			<h2 class="center">Kegiatan IT Del</h2>
			
				<p>
					IT Del memiliki banyak kegiatan yang dilakukan dalam proses belajar mengajar maupun untuk refreshingnya.
				</p>
				<a href="/kegiatan"><input type="submit" value="Lihat Kegiatan" class="btn-outline right"/></a>
				
			
		</div>
		<div class="col-4">
			<h2 class="center">Fasilitas IT Del</h2>
			
				<p>
					IT Del juga memiliki banyak fasilitas untuk mendukung proses perkuliahannya.
				</p>
				<a href="/fasilitas"><input type="submit" value="Lihat Fasilitas" class="btn-outline right"/></a>
			
		</div>
	</div>
	
	
</body>
</html>