<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talenta.delappproject">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:id="@android:id/list"
            android:name=".DeskripsiActivity"
            android:label="Activity Deskripsi"></activity>
        <activity
            android:id="@android:id/list"
            android:name=".KegiatanActivity"
            android:label="Kegiatan Deskripsi"></activity>
        <activity
            android:id="@android:id/list"
            android:name=".FasilitasActivity"
            android:label="Fasilitas Deskripsi"></activity>
    </application>

</manifest>